html {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #222;
}

#login_form {
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin: 15% auto;
    padding: 15px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 6px;
}

.text-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.text-field:focus {
    border: 0px;
}

.button {
    width: 100%;
    background-color: #222;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 15px;
}

#erreur {
    width: 100%;
    background-color: #ff5132;
    color: #811300;
    font-size: 14px;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#signin {
    font-size: 14px;
    color: #222;
}